@font-face {
    font-family:"Cursed Timer ULiL";
    src:url("CursedTimerULiL.eot?") format("eot"),url("CursedTimerULiL.woff") format("woff"),url("CursedTimerULiL.ttf") format("truetype"),url("CursedTimerULiL.svg#CursedTimerULiL") format("svg");
    font-weight:normal;
    font-style:normal;
}

body {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background:#778da9;

}

/* ---whole container--- */

.container {
    display: flex;
    width:600px;
    height:400px;
    background-color: #1b244a;
}

/* ---home div--- */

.main-home {
    width: 100%;
    padding: 0 20px 0 0;
    margin: 60px 10px 0px 70px;   
}

.home,
.guest{
    font-family: 'Verdana';
    font-weight: 700;
    font-size: 40px;
    line-height: 36px;
    color: #EEEEEE;
    margin-bottom: 20px;
}

.home-p,
.guest-p {
    color: #F94F6D;
    font-family:"Cursed Timer ULiL";
    font-size: 60px;
    font-weight: 400;
    margin-top: 0px;
    margin-bottom: 0px;
    background: #080001;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
    width: 155px;
}

.values-home,
.values-guest {
    display: flex;
    flex-direction: row;
}

.values-1,
.values-2,
.values-3,
.values-4, 
.values-5, 
.values-6 {
    font-family: 'Cursed Timer ULiL';
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #9AABD8;
    border: 2px solid #9AABD8;
    border-radius: 5px;
    padding: 8px;
    cursor: pointer;
}


.values-1:hover,
.values-2:hover,
.values-3:hover,
.values-4:hover, 
.values-5:hover, 
.values-6:hover{
    transform: scale(1.1);
}


.values-2,
.values-5 {
    margin-right: 15px;
    margin-left: 15px;
}

/* ---guest div--- */

.main-guest {
    width: 100%;
    margin-top: 60px;
}


/* ---NEW GAME BUTTON--- */

.game-btn {
    background-color: #1b244a;
    border: 2px solid #9AABD8;
    color: #9AABD8;
    padding: 10px;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
    margin-top: 330px;
    margin-left: -350px;
}
